<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:method="POST" th:action="@{/books}" th:object="${book}">
    <label for="name">Enter book name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Books name error</div>
    <br/>
    <label for="author">Enter author: </label>
    <input type="text" th:field="*{author}" id="author"/>
    <div style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Authors name error</div>
    <br/>
    <label for="yearOfPublication">Enter year of publication: </label>
    <input type="text" th:field="*{yearOfPublication}" id="yearOfPublication"/>
    <div style="color:red" th:if="${#fields.hasErrors('yearOfPublication')}"
         th:errors="*{yearOfPublication}">Type correct year of publication</div>
    <br/>

    <input type="submit" value="Create"/>
</form>
</body>
</html>