<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

<form th:method="POST" th:action="@{/books/search}">
    <label for="query">Enter your search require: </label>
    <input type="text" id="query" name="query"/>
    <br/>
    <input type="submit" value="Find!"/>
</form>

<div th:if="${books}">
    <div th:if="${books.isEmpty()}">
        <span>Didn't find books</span>
    </div>

    <div th:each="book:${books}">
        <p th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYearOfPublication()}">book</p>

        <div th:if="${book.getOwner() != null}">
            <span>This book at: </span> <span th:text="${book.getOwner().getFio()}">Person Name</span>
        </div>

        <div th:if="${book.getOwner() == null}">
            <span>Book is free</span>
        </div>

        <hr/>
    </div>
</div>

</body>
</html>