<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update reader</title>
</head>
<body>

<form th:method="patch" th:action="@{/people/{id}(id=${person.getId()})}" th:object="${person}">
  <label for="fio">Enter FIO: </label>
  <input type="text" th:field="*{fio}" id="fio"/>
  <div style="color:red" th:if="${#fields.hasErrors('fio')}" th:errors="*{fio}">FIO error</div>
  <br/>
  <label for="year">Enter year if birth: </label>
  <input type="text" th:field="*{year}" id="year"/>
  <div style="color:red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Date of birth error</div>
  <br/>

  <input type="submit" value="Update!">
</form>

</body>
</html>